.tudo{ 	width: 1024px; margin: 0 auto; border: 1px solid #f00 }
.topo{ width: 100%; height: 110px; border: 1px solid #f0f }
.topo img{ margin-top: 20px }
.login{ width: 100%; height: 40px; border: 1px solid #f00 }
.menu{ width: 100%; height: 40px; border: 1px solid #00f }
.menu ul li{ float: left; padding: 10px 25px; list-style: none }
.menu ul { float: left; margin: 0 }
.menu ul li:hover{ background-color: #f00 }
.cabecalho{ width: 100%; height: 330px; border: 1px solid #000 }
.categorias-produtos{ width: 100%; border: #99f; padding-top: 10px }
.categorias{ width: 215px; float: left; padding-left: 10px }
.categorias ul{ padding: 0 }
.categorias ul li{ list-style: none; padding: 8px 0 }
.produtos{ width: 790px; float: left; padding-top: 30px }
.rodape{ width: 100%; height: 405px; float: left }
.rodape-categorias{ width: 100%; margin: 0 auto; height: 355px; background-color: rgb(77,77,77); }
.rodape-creditos{ width: 100%; margin: 0 auto; height: 50px; background-color: rgb(52,49,48); text-align: center }
.rodape-creditos p{ margin: 0; padding-top: 15px; color: #fff }
.box-produto{ width: 155px; height: 210px; float: left; text-align: center }
.box-produto h1{ font-size: 14px; margin: 0; }
.box-produto p{ font-size: 14px; margin: 0; color: #f00 }
.form-login{ float: right }
.form-login input[type="text"]{ padding: 10px 5px; margin-right: 10px; }
.form-login input[type="password"]{ padding: 10px 5px }
.form-login input[type="submit"]{ border: none; background-color: #59744f; padding: 12px 24px; color: #fff }